<%- include("header") -%>
<div class="contentAbout">
    <h1>About Recipe to Ingredient</h1>
    <p>Welcome to Recipe to Ingredient, your ultimate destination for turning recipes into ingredient lists!</p>
    <p>At Recipe to Ingredient, we understand the importance of cooking with ease and convenience. Our platform aims to simplify the cooking process by providing users with a seamless way to convert complex recipes into simple ingredient lists.</p>
    <p>Whether you're a seasoned chef or a beginner in the kitchen, Recipe to Ingredient is designed to make your cooking experience enjoyable and stress-free. Say goodbye to endless scrolling through recipe instructions and hello to organized ingredient lists!</p>
    <p>Our dedicated team is passionate about food and technology, and we're committed to continuously improving our platform to meet the evolving needs of our users.</p>
    <p>Thank you for choosing Recipe to Ingredient. Let's cook delicious meals together!</p>
</div>
<%- include("footer") -%>